/*
This is an example configuration for grunt-reduce
*/
module.exports = function( grunt ) {
  'use strict';

  grunt.initConfig({
    reduce: {
      taskOne : {
        options : {
          root: 'app',
          outRoot: 'dist',
          include: [
              'myPublicFolder/*'
          ]
        }
      },
      taskTwo : {
        options : {
          root: 'some-other-app',
          outRoot: 'dist/some-other-dist'
        }
      }
    }
  });

  grunt.loadNpmTasks('grunt-reduce');
  
  grunt.registerTask('default', 'reduce');
};
